
Homeworks/Homework_1/.ipynb_checkpoints/DZ_1-checkpoint.ipynb
Homeworks/Homework_2/.ipynb_checkpoints/DZ_2-checkpoint.ipynb
.ipynb_checkpoints/Важная информация по курсу-checkpoint.ipynb
Homeworks/Homework_3/.ipynb_checkpoints/DZ_3-checkpoint.ipynb
